<div>
    <form id="registerForm">
        <div>
            <label>Nombre</label>
            <input name="first_name">
        </div>
        <div>
            <label>Apellido</label>
            <input name="last_name">
        </div>
        <div>
            <label>Email</label>
            <input name="email">
        </div>
        <div>
            <label>Edad</label>
            <input name="age">
        </div>
        <div>
            <label>Contraseña</label>
            <input name="password">
        </div>
        <input type="submit">
    </form>
</div>

<script src="js/register.js"></script>